/*
    ***
    Denne koden har jeg skrevet selv for å gjennomfør oppg. 4-2
    ***
*/

html,body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    #output-div{
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
    }